<div class="container">
  <h1>{{ title }}</h1>

  @if (errorMessage) {
    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
  }

  <div class="section">
    <div class="form-group">
      <label>User Email:</label>
      <input type="email" [(ngModel)]="userEmailToFetch" class="form-control">
    </div>
    <button (click)="onGetProfile()" class="btn btn-info">Get Profile</button>

    @if (fetchedProfile) {
      <div class="result">
        <h3>User Profile:</h3>
        <p>ID: {{ fetchedProfile.data.at(0)?.id }}</p>
        <p>Name: {{ fetchedProfile.data.at(0)?.username }}</p>
        <p>Email: {{ fetchedProfile.data.at(0)?.email }}</p>
      </div>
    }
  </div>

</div>
